:root {
  --primary-text-color: #ff4081;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b8e986;
  margin: 30px;
}

h1 {
  margin-top: 50px;
  color: var(--primary-text-color);
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 800px;
  min-width: 100px;
  border-radius: 2%;
}

a {
  text-decoration: none;
}

div a {
  color: var(--primary-text-color);
  padding: 10px 30px;
  font-weight: 800;
}

a:visited {
  color: var(--primary-text-color);
}

.navigation {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.contact {
  flex-direction: column;
  align-items: center;
}
